<!doctype html>
<html>
    <style>
    h1 {
        text-align: center;
    }
    div {
        display: inline-block;
        margin-right: 20px;
    }
    .error {
        color: red;
    }
    </style>
    <head>
        <title>{{title}}</title>
    </head>
<body>

    <div>
        <a href='index'>Home</a>
    </div>

    <div>
        <a href='blog'>Main Blog Page</a>
    </div>

    <div>
        <a href='new_entry'>Add a Blog Entry</a>
    </div>

    {% if session['username'] %}
    <div>
        <a href='logout'>logout</a>
    </div>
    {% else %}
    <div>
        <a href='login'>login</a>
    </div>
    {% endif %}

    {% block content %}
    {% endblock %}

</body>
</html>