{% extends "base.html" %}

{% block content %}
    <h1>Build A Blog</h1>
    <form method='post'>
        <label>
            New Blog Title:
            <br>
            <input type="text" name='entry_title' />
        </label>
        <br>
        <label>
            Blog Entry:
            <br>
            <textarea name='blog_entry'></textarea>
        </label>
        <br>
        <input type="submit" value='Add Entry' />
    </form>

    {% if tasks|length == 0 %}
    <p>No entries yet</p>
    {% else %}

        <ul>
            {% for task in tasks %}
            <li>{{task}}</li>
            {% endfor %}
        </ul>

    {% endif %}
{% endblock %}