{% extends "base.html" %}

{% block content %}

<h3>Log in to Blogz</h3>
<p>If you don't have an account, you may <a href='/signup'>register</a> for one.</p>
<form action='/login' method='post'>
    <table>
        <tr>
            <td><label for='username'>
            username</label></td>
            <td>
            <input type="text" name="username" value='{{username}}'/>
            </td>
        </tr>
        <tr>
            <td><label for='password'>
                Password</label></td>
                <td><input type="password" name="password" value='{{password}}'/></td>
            </tr>
            {% with messages = get_flashed_messages(with_categories=True) %}
                <ul>
                {% for category,message in messages %}
                    <li class='{{category}}'>{{message}}</li>
                {% endfor %}
                </ul>
            {% endwith %}
    </table>
    <input type="submit" value="Login" />
</form>
{% endblock %}