{% extends "base.html" %}

{% block content %}
<h1>{{title}}</h1>

<form action='/new_entry' method='post' id=1>
    <label>
        New Blog Title:
        <br>
        <input type="text" name='entry_title' value='{{entry_title}}' />
    </label>
    {% with messages = get_flashed_messages(category_filter=['title_error']) %}
        {% for message in messages %}
            <p class="error">{{message}}</p>
        {% endfor %}
    {% endwith %}
    <br>
    <br>
    <label>
        Blog Entry:
        <br>
        <textarea name='entry_body' form=1 rows=20 cols=50>{{entry_body}}</textarea>
    </label>
    {% with messages = get_flashed_messages(category_filter=['body_error']) %}
        {% for message in messages %}
            <p class="error">{{message}}</p>
        {% endfor %}
    {% endwith %}
    <br>
    <input type="submit" value='Add Entry' />
</form>


{% endblock %}